# Application configuration
APP_NAME=ForMinds AI Matching Service
APP_DESCRIPTION=Microservice de matching intelligent entre étudiants et opportunités
APP_VERSION=1.0.0
APP_HOST=127.0.0.1
APP_PORT=8000
TRANSFORMERS_CACHE=models_cache
MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2
MONGODB_URI=mongodb://db:27017
MONGODB_DB_NAME=forminds_db
MONGODB_COLLECTION=jobs
SEMANTIC_WEIGHT=0.7
SKILL_WEIGHT=0.25
LOCATION_WEIGHT=0.05
LOCATION_BONUS=10.0
